<!DOCTYPE html>
<html>
    <head>
      <title>Pregnancy Calendar</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
      <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/redmond/jquery-ui.css" />
      <link rel="stylesheet" type="text/css" href="/style.css" />
      <script src="/pregnancy-calendar.js"></script>
    </head>
<body>
  <header id="page_header">
    <h1>The Pregnancy Calendar</h1>
  </header>

  <section id="what_is_this">
    The Pregnancy Calendar helps you to follow your pregnancy in <span class="bolder">your own</span> calendar.
  </section>
  <section id="details">
    Just enter the following details to let a calendar be generated for you:<br/>
    <form id="form">
      <fieldset id="period_infomation">
        <legend>Information about your last <span class="bolder">full</span> menstrual period</legend>
            <label for="datepicker">First day of period: <span id="dateDisplay"></span></label>
            <div id="datepicker"></div>
      </fieldset>
      <fieldset id="pregnancy_information">
        <legend>Bonus information (The shown values are the standard used ones)</legend>
            <label for="days_in_cycle" title="Somewhere between 22 and 45 days">Days in your menstrual cycle: <span id="rangeDisplay">28</span></label>
            <div id="days_in_cycle"></div> <br/>
            <label for="luteal_phase" title="The number of day from ovulation to the beginning of a new period">Length of luteal phase: <span id="lutealDisplay">14</span></label>
            <div id="luteal_phase"></div>
      </fieldset>
      <input type="submit" name="submit" value="Give me a calendar!"/>
    </form>
   </section>
   <section id="results">
    <div id="result">

      <a id="gcal" href="#"
         target="_blank"><img src="http://www.google.com/calendar/images/ext/gc_button6.gif" border=0></a>
    </div>
  </section>

</body>
</html>