body {
    width: 560px;
    margin: 15px auto;
    font-family: Arial, "MS Trebuchet", sans-serif;
}

p {
    margin: 0 0 20px 0;
}

section#details {
    width: 400px;
}

header#page_header {
    font-family: "Tangerine", helvetica;
    width: 100%;
    font-size: large;
}

.bolder {
    font-weight: bolder;
}

.ui-slider-horizontal {
    width: 320px;
    height: 8px;
}